@import "./variables";

.section_detail_item {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: $color-ffffff;


  .detail_item {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 32px;
    background: $color-ffffff;
    padding: 32px;

    img {
      width: 100%;
    }

    &_info {
      gap: 0 16px;

      &__conditions {
        margin-bottom: 16px;
        font-size: 14px;
      }

      &__title {
        font-size: 24px;
        padding-bottom: 32px;
      }

      &__price {
        font-size: 46px;
        padding-bottom: 32px;

      }
    }
  }
}